<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.unity3d.player.UnityPlayer" />
    </queries>
    <queries>
        <package android:name="com.royals.royals_lepp_ar" />
    </queries>
    <queries>
        <package android:name="ltd.v2.game1" />
    </queries>
    <queries>
        <package android:name="ltd.v2.game2" />
    </queries>
    <queries>
        <package android:name="ltd.v2.game3" />
    </queries>
    <queries>
        <package android:name="com.NvisioSolutionsLtd.BATRoyalsPUG2024" />
    </queries>
    <queries>
        <package android:name="com.NvisioSolutionsLimited.LSPassionPUG2025" />
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomCompose"
        tools:targetApi="31">
        <activity
            android:name=".views.CustomActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize"
            android:theme="@style/Theme.CustomCompose" />

        <activity
            android:name=".views.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CustomCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".helper.AudioRecorderService"
            android:exported="false"
            android:foregroundServiceType="microphone"
            android:permission="android.permission.FOREGROUND_SERVICE_MICROPHONE"
            android:stopWithTask="true"
            tools:ignore="ForegroundServicePermission"
            tools:targetApi="s" />

        <receiver
            android:name=".helper.GameBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.customcompose" />
            </intent-filter>
        </receiver>
    </application>

</manifest>